
mixin link(href)
	if !href
		a(href="javascript:void(0)")&attributes(attributes)
			if block
				block
	else
		a(href=href)&attributes(attributes)
			if block
				block

mixin img(imgSrc, alt, lazy=false)
	if lazy
		img.img-lazy(data-lazy=imgSrc, alt=`${alt ? alt : ''}`)&attributes(attributes)
	else
		img(src=imgSrc, alt=`${alt ? alt : ''}`)&attributes(attributes)

mixin tag(tag)
	span.tag= tag